*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #777;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.ball{
    width: 100px;
    height: 100px;
    background-color:rgb(255, 0, 255);
    border-radius: 50%;
    box-shadow: 10px 10px 10px grey;
}

button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.btnJs{
    background-color: green;
}

.animateBall{
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}


@keyframes bounce {
    0%{
      transform: translateY(0);
    }
    
    50%{
       transform: translateY(-150px);
       /* transform: translateX(150px);    */
    }
}