*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    border: 3px solid;
    justify-content: center;
    gap: 100px;
}
.ball{
    width: 100px;
    height: 100px;
    background-color:rgb(255, 0, 255);
    border-radius: 50%;
    box-shadow: 10px 10px 10px grey;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: green;
    color:white;
    font-size: medium;
    border-radius: 5%;
}


.animateBall{
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}


@keyframes bounce {
    0%{
      transform: translateY(0);
    }
    
    50%{
       transform: translateY(-150px);
       /* transform: translateX(150px);    */
    }
}