*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
.container{
    display: grid;
    width: 100%;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 10px;
    grid-template-areas: 
     "one one one one"
     "two three three three"
     /* "two three three three" */
     "footer footer footer footer";
}

.box{
    /* width: max-content; */
    /* height: 200px;
    width: 300px; */
}
.box-one{
    background-color: red;
    height: auto;
    width: auto;
    grid-area: one;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-one ul{
    list-style: none;
    display: flex;
    border: 1px solid ;
    justify-content: space-between;
}
.box-two{
    background-color: orange;
    /* width: 50px; */
    grid-area: two;
}
.box-three{
    background-color: yellow;
    grid-area: three;
    height: 350px;
} 
.box-four{
    background-color: green;
    grid-area: four;
        
}
.footer{
    background-color: blue;
    grid-area: footer;
}
/* .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 3px solid;
}

.box{
    height: 200px;
    border: 3px solid;
} */
/* .box-one{
    background-color: red;
    grid-row: 1/3;
    height: auto;
}
.box-two{
    background-color: orange;
    grid-row: 1/3;
    height: auto;
} */
