/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    /* background:linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .8)), url(./assets/images/rick_morty.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  @font-face {
    font-family: mainFont;
    src: url(./assets/fonts/get_schwifty.ttf);
  }
  h1{
    color: green;
    font-family: mainFont;
    font-size: 3.5rem;
    margin-top: 20px;
    text-shadow:
    -2px 5px 0px #d0da46,
    -2px 0px 0px #d0da46,
    0px -2px 0px #d0da46,
    0px 4px 0px #d0da46;color: #16abc9;

  }
  main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .card-section{
    min-width: 90%;
    height: 100%;
  }
  .btn{
    padding: 10px;
    background: green;
    color: white;
    cursor: pointer;
  }